openapi: 3.0.1
info:
  title: Knowledge Hub
  description: "# Introduction\no9 Market Intelligence is the digital situational awareness needed by digitally enabled business operations. This intelligence augments the operational information when making business decisions.\n\nYou can find out more about o9 Solutions at [https://o9solutions.com]https://o9solutions.com)\n\n## Knowledge Hub\nThe Knowledge Hub is the central repository of data and knowledge models for o9 Market Intelligence. This document lists all the APIs of this web service. These APIs require an API Key that you should request from o9.\n\n# Authentication\nThe Knowledge Hub APIs used Bearer authentication. Contact your o9 partner to get your API token. The token should be included 'Authorization' key in the HTTP header in the form\n\n*Authoritazion : ApiKey apikey.fromO9solutions*\n"
  version: Beta
  x-logo-url: https://o9designlab.com/wp-content/uploads/2020/08/Design-Lab_Brand-Guidelines_v3_assets_logo-1.svg
servers:
  - url: https://marketintel.trial.o9solutions.com/api/v2
    description: The Knowledge Hub service endpoint
paths:
  /master/MarketIntel/Age:
    summary: Age title
    description: Age description
    get:
      tags:
        - Market Structure
      summary: '''Age title'' master data'
      description: "Age title : Age description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Ages:
                        type: array
                        items:
                          title: Age
                          type: object
                          properties:
                            Age:
                              type: integer
                              description: 'Age title : Age description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Brand:
    summary: Brand title
    description: Brand description
    get:
      tags:
        - Market Structure
      summary: '''Brand title'' master data'
      description: "Brand title : Brand description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Brands:
                        type: array
                        items:
                          title: Brand
                          type: object
                          properties:
                            Brand:
                              type: integer
                              description: 'Brand title : Brand description'
                            BrandFamily:
                              type: integer
                              description: 'BrandFamily title : BrandFamily description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Catalog:
    summary: Catalog title
    description: Catalog description
    get:
      tags:
        - Market Structure
      summary: '''Catalog title'' master data'
      description: "Catalog title : Catalog description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Catalog descs:
                        type: array
                        items:
                          title: Catalog desc
                          type: object
                          properties:
                            ContentCategory:
                              type: integer
                              description: 'ContentCategory title : ContentCategory description'
                            ContentItem:
                              type: integer
                              description: 'ContentItem title : ContentItem description'
                            ContentSource:
                              type: integer
                              description: 'ContentSource title : ContentSource description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Drivetrain:
    summary: Drivetrain title
    description: Drivetrain description
    get:
      tags:
        - Market Structure
      summary: '''Drivetrain title'' master data'
      description: "Drivetrain title : Drivetrain description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Drivetrains:
                        type: array
                        items:
                          title: Drivetrain
                          type: object
                          properties:
                            Drivetrain:
                              type: integer
                              description: 'Drivetrain title : Drivetrain description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/FSProject:
    summary: FSProject title
    description: FSProject description
    get:
      tags:
        - Market Structure
      summary: '''FSProject title'' master data'
      description: "FSProject title : FSProject description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      FSProjects:
                        type: array
                        items:
                          title: FSProject
                          type: object
                          properties:
                            FSForecastModel:
                              type: integer
                              description: 'FSForecastModel title : FSForecastModel description'
                            FSProjectCustomer:
                              type: integer
                              description: 'FSProjectCustomer title : FSProjectCustomer description'
                            FSProjectIterationID:
                              type: integer
                              description: 'FSProjectIterationID title : FSProjectIterationID description'
                            FSProjectModelID:
                              type: integer
                              description: 'FSProjectModelID title : FSProjectModelID description'
                            FSProjectType:
                              type: integer
                              description: 'FSProjectType title : FSProjectType description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Geo:
    summary: Geo title
    description: Geo description
    get:
      tags:
        - Market Structure
      summary: '''Geo title'' master data'
      description: "Geo title : Geo description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Geos:
                        type: array
                        items:
                          title: Geo
                          type: object
                          properties:
                            City:
                              type: integer
                              description: 'City title : City description'
                            Continent:
                              type: integer
                              description: 'Continent title : Continent description'
                            Country:
                              type: integer
                              description: 'Country title : Country description'
                            County:
                              type: integer
                              description: 'County title : County description'
                            State:
                              type: integer
                              description: 'State title : State description'
                            Zip:
                              type: integer
                              description: 'Zip title : Zip description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/HealthInsuranceType:
    summary: HealthInsuranceType title
    description: HealthInsuranceType description
    get:
      tags:
        - Market Structure
      summary: '''HealthInsuranceType title'' master data'
      description: "HealthInsuranceType title : HealthInsuranceType description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      HealthInsuranceTypes:
                        type: array
                        items:
                          title: HealthInsuranceType
                          type: object
                          properties:
                            HealthInsuranceType:
                              type: integer
                              description: 'HealthInsuranceType title : HealthInsuranceType description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Holidays:
    summary: Holidays title
    description: Holidays description
    get:
      tags:
        - Market Structure
      summary: '''Holidays title'' master data'
      description: "Holidays title : Holidays description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Holidays:
                        type: array
                        items:
                          title: Holidays
                          type: object
                          properties:
                            HolidayName:
                              type: integer
                              description: 'HolidayName title : HolidayName description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/ICD10:
    summary: ICD10 title
    description: ICD10 description
    get:
      tags:
        - Market Structure
      summary: '''ICD10 title'' master data'
      description: "ICD10 title : ICD10 description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      ICD10s:
                        type: array
                        items:
                          title: ICD10
                          type: object
                          properties:
                            BroadCause:
                              type: integer
                              description: 'BroadCause title : BroadCause description'
                            RootCause:
                              type: integer
                              description: 'RootCause title : RootCause description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/IncomeGrp:
    summary: IncomeGrp title
    description: IncomeGrp description
    get:
      tags:
        - Market Structure
      summary: '''IncomeGrp title'' master data'
      description: "IncomeGrp title : IncomeGrp description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      IncomeGrps:
                        type: array
                        items:
                          title: IncomeGrp
                          type: object
                          properties:
                            IncomeGrp:
                              type: integer
                              description: 'IncomeGrp title : IncomeGrp description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Industry:
    summary: Industry title
    description: Industry description
    get:
      tags:
        - Market Structure
      summary: '''Industry title'' master data'
      description: "Industry title : Industry description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Industrys:
                        type: array
                        items:
                          title: Industry
                          type: object
                          properties:
                            IL1:
                              type: integer
                              description: 'IL1 title : IL1 description'
                            IL2:
                              type: integer
                              description: 'IL2 title : IL2 description'
                            IL3:
                              type: integer
                              description: 'IL3 title : IL3 description'
                            IL4:
                              type: integer
                              description: 'IL4 title : IL4 description'
                            IL5:
                              type: integer
                              description: 'IL5 title : IL5 description'
                            StoreBatchID:
                              type: integer
                              description: 'StoreBatchID title : StoreBatchID description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/IndustryDriver:
    summary: IndustryDriver title
    description: IndustryDriver description
    get:
      tags:
        - Market Structure
      summary: '''IndustryDriver title'' master data'
      description: "IndustryDriver title : IndustryDriver description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      IndustryDrivers:
                        type: array
                        items:
                          title: IndustryDriver
                          type: object
                          properties:
                            Driver:
                              type: integer
                              description: 'Driver title : Driver description'
                            Driver Group:
                              type: integer
                              description: 'Driver Group title : Driver Group description'
                            Driver Sub-Group:
                              type: integer
                              description: 'Driver Sub-Group title : Driver Sub-Group description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Location:
    summary: Location title
    description: Location description
    get:
      tags:
        - Market Structure
      summary: '''Location title'' master data'
      description: "Location title : Location description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Locations:
                        type: array
                        items:
                          title: Location
                          type: object
                          properties:
                            Location:
                              type: integer
                              description: 'Location title : Location description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Personnel:
    summary: Personnel title
    description: Personnel description
    get:
      tags:
        - Market Structure
      summary: '''Personnel title'' master data'
      description: "Personnel title : Personnel description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Personnels:
                        type: array
                        items:
                          title: Personnel
                          type: object
                          properties:
                            Email:
                              type: integer
                              description: 'Email title : Email description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Product:
    summary: Product title
    description: Product description
    get:
      tags:
        - Market Structure
      summary: '''Product title'' master data'
      description: "Product title : Product description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Products:
                        type: array
                        items:
                          title: Product
                          type: object
                          properties:
                            PL1:
                              type: integer
                              description: 'PL1 title : PL1 description'
                            PL2:
                              type: integer
                              description: 'PL2 title : PL2 description'
                            PL3:
                              type: integer
                              description: 'PL3 title : PL3 description'
                            PL4:
                              type: integer
                              description: 'PL4 title : PL4 description'
                            PL5:
                              type: integer
                              description: 'PL5 title : PL5 description'
                            PL6:
                              type: integer
                              description: 'PL6 title : PL6 description'
                            PL7:
                              type: integer
                              description: 'PL7 title : PL7 description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Race:
    summary: Race title
    description: Race description
    get:
      tags:
        - Market Structure
      summary: '''Race title'' master data'
      description: "Race title : Race description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Races:
                        type: array
                        items:
                          title: Race
                          type: object
                          properties:
                            Race:
                              type: integer
                              description: 'Race title : Race description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/RetrieverType:
    summary: RetrieverType title
    description: RetrieverType description
    get:
      tags:
        - Market Structure
      summary: '''RetrieverType title'' master data'
      description: "RetrieverType title : RetrieverType description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      RetrieverTypes:
                        type: array
                        items:
                          title: RetrieverType
                          type: object
                          properties:
                            RetrieverType:
                              type: integer
                              description: 'RetrieverType title : RetrieverType description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/RootCause:
    summary: RootCause title
    description: RootCause description
    get:
      tags:
        - Market Structure
      summary: '''RootCause title'' master data'
      description: "RootCause title : RootCause description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      RootCause Dimensions:
                        type: array
                        items:
                          title: RootCause Dimension
                          type: object
                          properties:
                            Problem Type:
                              type: integer
                              description: 'Problem Type title : Problem Type description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/SearchTag:
    summary: SearchTag title
    description: SearchTag description
    get:
      tags:
        - Market Structure
      summary: '''SearchTag title'' master data'
      description: "SearchTag title : SearchTag description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SearchTags:
                        type: array
                        items:
                          title: SearchTag
                          type: object
                          properties:
                            Tag:
                              type: integer
                              description: 'Tag title : Tag description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Sequence:
    summary: Sequence title
    description: Sequence description
    get:
      tags:
        - Market Structure
      summary: '''Sequence title'' master data'
      description: "Sequence title : Sequence description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Sequence Dimensions:
                        type: array
                        items:
                          title: Sequence Dimension
                          type: object
                          properties:
                            Sequence:
                              type: integer
                              description: 'Sequence title : Sequence description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/SourceType:
    summary: SourceType title
    description: SourceType description
    get:
      tags:
        - Market Structure
      summary: '''SourceType title'' master data'
      description: "SourceType title : SourceType description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SourceTypes:
                        type: array
                        items:
                          title: SourceType
                          type: object
                          properties:
                            SourceType:
                              type: integer
                              description: 'SourceType title : SourceType description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Sports:
    summary: Sports title
    description: Sports description
    get:
      tags:
        - Market Structure
      summary: '''Sports title'' master data'
      description: "Sports title : Sports description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Sports:
                        type: array
                        items:
                          title: Sports
                          type: object
                          properties:
                            SportingEvents:
                              type: integer
                              description: 'SportingEvents title : SportingEvents description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/SportsTeam:
    summary: SportsTeam title
    description: SportsTeam description
    get:
      tags:
        - Market Structure
      summary: '''SportsTeam title'' master data'
      description: "SportsTeam title : SportsTeam description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportsTeams:
                        type: array
                        items:
                          title: SportsTeam
                          type: object
                          properties:
                            SportsTeam:
                              type: integer
                              description: 'SportsTeam title : SportsTeam description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/SportTournament:
    summary: SportTournament title
    description: SportTournament description
    get:
      tags:
        - Market Structure
      summary: '''SportTournament title'' master data'
      description: "SportTournament title : SportTournament description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportTournaments:
                        type: array
                        items:
                          title: SportTournament
                          type: object
                          properties:
                            SportTournament:
                              type: integer
                              description: 'SportTournament title : SportTournament description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Time:
    summary: Time title
    description: Time description
    get:
      tags:
        - Market Structure
      summary: '''Time title'' master data'
      description: "Time title : Time description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Times:
                        type: array
                        items:
                          title: Time
                          type: object
                          properties:
                            Day:
                              type: string
                              description: 'Day title : Day description'
                              format: YYYY-MM-DD
                            Month:
                              type: string
                              description: 'Month title : Month description'
                              format: YYYY-MM-DD
                            Quarter:
                              type: string
                              description: 'Quarter title : Quarter description'
                              format: YYYY-MM-DD
                            Week:
                              type: string
                              description: 'Week title : Week description'
                              format: YYYY-MM-DD
                            Year:
                              type: string
                              description: 'Year title : Year description'
                              format: YYYY-MM-DD
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/Vaccine:
    summary: Vaccine title
    description: Vaccine description
    get:
      tags:
        - Market Structure
      summary: '''Vaccine title'' master data'
      description: "Vaccine title : Vaccine description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Vaccines:
                        type: array
                        items:
                          title: Vaccine
                          type: object
                          properties:
                            Vaccine:
                              type: integer
                              description: 'Vaccine title : Vaccine description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/WCustomer:
    summary: WCustomer title
    description: WCustomer description
    get:
      tags:
        - Market Structure
      summary: '''WCustomer title'' master data'
      description: "WCustomer title : WCustomer description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      WCustomers:
                        type: array
                        items:
                          title: WCustomer
                          type: object
                          properties:
                            WCustomer:
                              type: integer
                              description: 'WCustomer title : WCustomer description'
                            WRequestID:
                              type: integer
                              description: 'WRequestID title : WRequestID description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/WDE:
    summary: WDE title
    description: WDE description
    get:
      tags:
        - Market Structure
      summary: '''WDE title'' master data'
      description: "WDE title : WDE description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Weather Driver Engineerings:
                        type: array
                        items:
                          title: Weather Driver Engineering
                          type: object
                          properties:
                            WDE_Customer:
                              type: integer
                              description: 'WDE_Customer title : WDE_Customer description'
                            WDE_Project_ID:
                              type: integer
                              description: 'WDE_Project_ID title : WDE_Project_ID description'
                            WDE_Project_Name:
                              type: integer
                              description: 'WDE_Project_Name title : WDE_Project_Name description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/WDELocation:
    summary: WDELocation title
    description: WDELocation description
    get:
      tags:
        - Market Structure
      summary: '''WDELocation title'' master data'
      description: "WDELocation title : WDELocation description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      WDE Locations:
                        type: array
                        items:
                          title: WDE Location
                          type: object
                          properties:
                            WDE Location:
                              type: integer
                              description: 'WDE Location title : WDE Location description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/WDENetwork:
    summary: WDENetwork title
    description: WDENetwork description
    get:
      tags:
        - Market Structure
      summary: '''WDENetwork title'' master data'
      description: "WDENetwork title : WDENetwork description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      WDE Networks:
                        type: array
                        items:
                          title: WDE Network
                          type: object
                          properties:
                            WDE Network:
                              type: integer
                              description: 'WDE Network title : WDE Network description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /master/MarketIntel/WDESerialNumber:
    summary: WDESerialNumber title
    description: WDESerialNumber description
    get:
      tags:
        - Market Structure
      summary: '''WDESerialNumber title'' master data'
      description: "WDESerialNumber title : WDESerialNumber description\n\nSome general comments on dimension filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      WDE Serial Numbers:
                        type: array
                        items:
                          title: WDE Serial Number
                          type: object
                          properties:
                            WDE Serial Number:
                              type: integer
                              description: 'WDE Serial Number title : WDE Serial Number description'
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /fact/MarketIntel/ActivityLog:
    summary: ActivityLog title
    description: ActivityLog description
    get:
      tags:
        - Market Activity
      summary: '''ActivityLog title'' historical data'
      description: "ActivityLog title : ActivityLog description\n\nSome general comments on dimension based filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      ActivityLogs:
                        type: array
                        items:
                          title: ActivityLog
                          type: object
                          properties:
                            ActivityRuntimeSec:
                              type: number
                            Dummy:
                              type: number
                            EndStamp:
                              type: string
                              format: YYYY-MM-DD
                            FailureCount:
                              type: number
                            GUID:
                              type: string
                            StartStamp:
                              type: string
                              format: YYYY-MM-DD
                            SuccessCount:
                              type: number
                            TrialFailureCount:
                              type: number
                            WarningCount:
                              type: number
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /fact/MarketIntel/AmenitiesCountyYearly:
    summary: AmenitiesCountyYearly title
    description: AmenitiesCountyYearly description
    get:
      tags:
        - Market Activity
      summary: '''AmenitiesCountyYearly title'' historical data'
      description: "AmenitiesCountyYearly title : AmenitiesCountyYearly description\n\nSome general comments on dimension based filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      AmenitiesCountyYearlys:
                        type: array
                        items:
                          title: AmenitiesCountyYearly
                          type: object
                          properties:
                            DistDoctor:
                              type: number
                            DistSchool:
                              type: number
                            DistSupermkt:
                              type: number
                            SchoolsWithin3km:
                              type: number
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /fact/MarketIntel/AppleMobilityCountry:
    summary: AppleMobilityCountry title
    description: AppleMobilityCountry description
    get:
      tags:
        - Market Activity
      summary: '''AppleMobilityCountry title'' historical data'
      description: "AppleMobilityCountry title : AppleMobilityCountry description\n\nSome general comments on dimension based filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      AppleMobilityCountrys:
                        type: array
                        items:
                          title: AppleMobilityCountry
                          type: object
                          properties:
                            AppleMobilityDriving:
                              type: number
                            AppleMobilityDrivingM:
                              type: number
                            AppleMobilityTransit:
                              type: number
                            AppleMobilityTransitM:
                              type: number
                            AppleMobilityWalking:
                              type: number
                            AppleMobilityWalkingM:
                              type: number
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /fact/MarketIntel/CatalogProp:
    summary: CatalogProp title
    description: CatalogProp description
    get:
      tags:
        - Market Activity
      summary: '''CatalogProp title'' historical data'
      description: "CatalogProp title : CatalogProp description\n\nSome general comments on dimension based filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CatalogProps:
                        type: array
                        items:
                          title: CatalogProp
                          type: object
                          properties:
                            ContentDataOrigin:
                              type: string
                            ContentDimensionName:
                              type: string
                            ContentEndDate:
                              type: string
                              format: YYYY-MM-DD
                            ContentExchangeRateType:
                              type: string
                            ContentFactor:
                              type: number
                            ContentFilter:
                              type: string
                            ContentFrequency:
                              type: string
                            ContentGeoCity:
                              type: string
                            ContentGeoCountry:
                              type: string
                            ContentGeoCounty:
                              type: string
                            ContentGeoState:
                              type: string
                            ContentGeoType:
                              type: string
                            ContentGeoZip:
                              type: string
                            ContentIsCurrencyType:
                              type: number
                            ContentLongDescription:
                              type: string
                            ContentMeasureGroup:
                              type: string
                            ContentMeasureName:
                              type: string
                            ContentNAICSLevel2:
                              type: string
                            ContentPlan:
                              type: string
                            ContentPriority:
                              type: number
                            ContentRawFile:
                              type: string
                            ContentScript:
                              type: string
                            ContentSeasonalAdjustmentAllowed:
                              type: number
                            ContentSeasonality:
                              type: string
                            ContentSeriesID:
                              type: string
                            ContentStartDate:
                              type: string
                              format: YYYY-MM-DD
                            ContentTrendAdjustmentAllowed:
                              type: number
                            ContentUnits:
                              type: string
                            ContentUploaded:
                              type: string
                            ContentURL:
                              type: string
                            Count:
                              type: number
                            From Month:
                              type: string
                            From Year:
                              type: number
                            Subscribed:
                              type: string
                            SubscribedTimeStamp:
                              type: string
                              format: YYYY-MM-DD
                            To Month:
                              type: string
                            To Subscribe:
                              type: string
                            To Year:
                              type: number
                            ToSubscribeTimeStamp:
                              type: string
                              format: YYYY-MM-DD
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /fact/MarketIntel/CommodityPriceMonthly:
    summary: CommodityPriceMonthly title
    description: CommodityPriceMonthly description
    get:
      tags:
        - Market Activity
      summary: '''CommodityPriceMonthly title'' historical data'
      description: "CommodityPriceMonthly title : CommodityPriceMonthly description\n\nSome general comments on dimension based filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityPriceMonthlys:
                        type: array
                        items:
                          title: CommodityPriceMonthly
                          type: object
                          properties:
                            GlobalCommodityPriceIndexAgriRawMaterials:
                              type: number
                            GlobalCommodityPriceIndexAluminum:
                              type: number
                            GlobalCommodityPriceIndexApple:
                              type: number
                            GlobalCommodityPriceIndexBananas:
                              type: number
                            GlobalCommodityPriceIndexBarley:
                              type: number
                            GlobalCommodityPriceIndexBeef:
                              type: number
                            GlobalCommodityPriceIndexBeverages:
                              type: number
                            GlobalCommodityPriceIndexCereal:
                              type: number
                            GlobalCommodityPriceIndexChickpea:
                              type: number
                            GlobalCommodityPriceIndexCoal:
                              type: number
                            GlobalCommodityPriceIndexCobalt:
                              type: number
                            GlobalCommodityPriceIndexCocoa:
                              type: number
                            GlobalCommodityPriceIndexCoffee:
                              type: number
                            GlobalCommodityPriceIndexCoffeeMildArabica:
                              type: number
                            GlobalCommodityPriceIndexCoffeeRobustas:
                              type: number
                            GlobalCommodityPriceIndexCopper:
                              type: number
                            GlobalCommodityPriceIndexCorn:
                              type: number
                            GlobalCommodityPriceIndexCotton:
                              type: number
                            GlobalCommodityPriceIndexDiammoniumPhosphate:
                              type: number
                            GlobalCommodityPriceIndexFertilizer:
                              type: number
                            GlobalCommodityPriceIndexFish:
                              type: number
                            GlobalCommodityPriceIndexFood:
                              type: number
                            GlobalCommodityPriceIndexFood&Beverage:
                              type: number
                            GlobalCommodityPriceIndexGold:
                              type: number
                            GlobalCommodityPriceIndexGroundnuts:
                              type: number
                            GlobalCommodityPriceIndexHardwood:
                              type: number
                            GlobalCommodityPriceIndexHides:
                              type: number
                            GlobalCommodityPriceIndexIronOre:
                              type: number
                            GlobalCommodityPriceIndexLamb:
                              type: number
                            GlobalCommodityPriceIndexLead:
                              type: number
                            GlobalCommodityPriceIndexLNGAsia:
                              type: number
                            GlobalCommodityPriceIndexMeat:
                              type: number
                            GlobalCommodityPriceIndexMetal:
                              type: number
                            GlobalCommodityPriceIndexMilk:
                              type: number
                            GlobalCommodityPriceIndexMolybdenum:
                              type: number
                            GlobalCommodityPriceIndexNaturalGas:
                              type: number
                            GlobalCommodityPriceIndexNaturalGasEU:
                              type: number
                            GlobalCommodityPriceIndexNickel:
                              type: number
                            GlobalCommodityPriceIndexOats:
                              type: number
                            GlobalCommodityPriceIndexOliveOil:
                              type: number
                            GlobalCommodityPriceIndexOrange:
                              type: number
                            GlobalCommodityPriceIndexPalmOil:
                              type: number
                            GlobalCommodityPriceIndexPork:
                              type: number
                            GlobalCommodityPriceIndexPotassiumFertilizer:
                              type: number
                            GlobalCommodityPriceIndexPoultry:
                              type: number
                            GlobalCommodityPriceIndexPreciousMetals:
                              type: number
                            GlobalCommodityPriceIndexPropane:
                              type: number
                            GlobalCommodityPriceIndexRiceThailand:
                              type: number
                            GlobalCommodityPriceIndexRubber:
                              type: number
                            GlobalCommodityPriceIndexSeafood:
                              type: number
                            GlobalCommodityPriceIndexSoftLogs:
                              type: number
                            GlobalCommodityPriceIndexSoftwood:
                              type: number
                            GlobalCommodityPriceIndexSorghum:
                              type: number
                            GlobalCommodityPriceIndexSoybeanOil:
                              type: number
                            GlobalCommodityPriceIndexSoybeans:
                              type: number
                            GlobalCommodityPriceIndexSugar:
                              type: number
                            GlobalCommodityPriceIndexSunflowerOil:
                              type: number
                            GlobalCommodityPriceIndexTeaKenyan:
                              type: number
                            GlobalCommodityPriceIndexTimber:
                              type: number
                            GlobalCommodityPriceIndexTin:
                              type: number
                            GlobalCommodityPriceIndexTomato:
                              type: number
                            GlobalCommodityPriceIndexUrea:
                              type: number
                            GlobalCommodityPriceIndexWheat:
                              type: number
                            GlobalCommodityPriceIndexWool:
                              type: number
                            GlobalCommodityPriceIndexZinc:
                              type: number
                  Cursor:
                    type: string
        '401':
          description: 'Authentication failure : Check your key'
        '403':
          description: 'Access not allowed : Check your key and subscription level'
        '404':
          description: 'Resource not found : Check your URL'
        '500':
          description: 'Server error : Try again later'
  /fact/MarketIntel/Covid19CountryDaily:
    summary: Covid19CountryDaily title
    description: Covid19CountryDaily description
    get:
      tags:
        - Market Activity
      summary: '''Covid19CountryDaily title'' historical data'
      description: "Covid19CountryDaily title : Covid19CountryDaily description\n\nSome general comments on dimension based filtering"
      parameters:
        - name: filter
          in: query
          description: The the expression for filtering results (see example)
          schema:
            type: object
        - name: size
          in: query
          description: Number of values to return per page. Should be greater than zero.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The forward-only cursor to access paginated responses (i.e. when results exceed size parameter)
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: ApiKey sd8ds.sdf93d09sd3d
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Covid19CountryDailys:
                        type: array
                        items:
                          title: Covid19CountryDaily
                          type: object
                          properties:
                            CovidConfirmedCases:
                              type: number
                            CovidConfirmedDeaths:
                              type: number
                            CovidDailyConfirmedCases:
                              type: number
                            CovidDailyConfirmedDeaths:
                              type: number
                            CovidDailyVaccinationsComplete:
                              type: number
                            CovidDailyVaccinationsPartial:
                              type: number
                            CovidVaccinationPerHundredPeople:
                              type: number
                            CovidVaccinationsComplete:
                              type: number
                            CovidVaccinationsPartial:
                              type: number
                            FacialCoveringsMandated:
                              type: number
                            FacialCoveringsPolicyAbsent:
                              type: number
                            FacialCoveringsRecommended:
                              type: number
                            FacialCoveringsRequiredPublic:
                              type: number
                            GatheringLargeRestricted:
                              type: number
                            GatheringMediumRestricted:
                              type: number
                            GatheringSmallRestricted:
                              type: number
                            GatheringVeryLargeRestricted:
                              type: number
                            InternalMovementDiscouraged:
                              type: number
                            InternalMovementRestricted:
                              type: number
                            InternationalTravelBanAll:
                              type: number
                            InternationalTravelBanSome:
                              type: number
                            InternationalTravelQuarantine:
                              type: number
                            InternationalTravelScreened:
                              type: number
                            PublicEventCancelMandated:
                              type: number
                            PublicEventCancelRecommended:
                              type: number
                            PublicInformationCampaignsAbsent:
                              type: number
                            PublicInformationCampaignsbyOfficials:
                              type: number
                            PublicInformationCoordinatedCampaigns:
                              type: number
                            PublicTransportClosed:
                              type: number
                            PublicTransportRestricted:
                              type: number
                            SchoolClosingMandatedAll:
                              type: number
                            SchoolClosingMandatedSome:
                              type: number
                            SchoolClosingRecommended:
                              type: number
                            ShelterAtHomeEnforcement:
                              type: number
                            ShelterAtHomeRecommended:
                              type: number
                            ShelterAtHomeStrictEnforcement:
                              type: number
                            StateDebtReliefBroad:
                              type: number
                            StateDebtReliefNarrow:
                              type: number
                            StateIncomeSupportLarge:
                              type: number
                            StateIncomeSupportSmall:
                              type: number
                            VaccinationPolicyAbsent:
                              type: number
                            VaccinationPolicyKeyPersonnelAll:
[...]
